/*
 * Overlay for Teensy 4.1 - USB CDC + GPIO + SPI
 */

/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

/* 60Hz GPIO output pin */
&gpio2 {
    status = "okay";
};

/* SPI for ADS8688 */
&lpspi4 {
    status = "okay";
    pinctrl-0 = <&pinmux_lpspi4>;
    pinctrl-names = "default";
    cs-gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
};

/* USB CDC ACM */
&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
