/ {
	aliases {
		ads8688 = &ads8688_device;
		square-wave-out = &gpio1;
	};
};

&lpspi3 {
	status = "okay";
	cs-gpios = <&gpio2 11 GPIO_ACTIVE_LOW>;

	ads8688_device: ads8688@0 {
		compatible = "vendor,spi-device";
		reg = <0>;
		spi-max-frequency = <17000000>;
		label = "ADS8688";
	};
};

/* Avoid wrong reset/interrupt handling for PHY; rely on MDIO polling/reset */
&enet_mdio {
	phy: phy@0 {
		/delete-property/ reset-gpios;
		/delete-property/ int-gpios;
	};
};


&gpio1 {
	status = "okay";
};
